<div class="carousel_container">
    <div class="wrapper_title" > 
        <div>
            <h1>
                Discover our
            </h1>
            <div class="line_blue"></div>
            <h1>
                planet-friendly offer
            </h1>
        </div>
        <div class="container_btn_carousel">
            <div class="line_pink">
                <button id="btn-left" onclick="moveCarousel('left')"> < </button>
            </div>
            <div class="line_pink">
                <button id="btn-right" onclick="moveCarousel('right')"> > </button>
            </div>
        </div>
        
    </div>
    <div class="carousel_card" id="carouselCard">
    </div>
  

</div>