
<div class="wrapper_footer">
    <h2>Join the green revolution without </h2><h2> commitment</h2>
    <p>If you are missing something and don't want to miss future <br/> promotions or our future products</p>
    <form class="footer_form" id="footer_form" onsubmit="sendEmail(event)">
        <div class="container_input"> 
            <input type="text" id="footer_input" class="footer_input" placeholder="Your Email">
            <span id="message_error" style="color: red;"></span>
        </div>
        <button class="footer_button" type="submit">
            send
        </button>
    </form>
</div>

 